<?xml version="1.0" encoding="UTF-8" ?>

<!-- 60초마다 설정 파일의 변경을 확인 및 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.neukrang.jybot" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
</configuration>